@import url('https://fonts.google.com/specimen/Edu+NSW+ACT+Foundation');

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(69, 238, 250, 0.514);
}

button {
    height: 50px;
    width: 50px;
    border-radius: 45%;
    border: 2px solid rgba(235, 0, 176, 0.336);
    background-color: rgb(243, 125, 180);
    color: rgb(16, 81, 97);
    font-size: 20pt;
    font-weight: 600;
    text-align: center;
}